# Исключаем специфичные для Python файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Исключаем файлы IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Исключаем специфичные для ОС файлы
.DS_Store
Thumbs.db

# --- САМЫЕ ВАЖНЫЕ ПРАВИЛА ДЛЯ ВАШЕГО ПРОЕКТА ---

# Никогда не загружайте данные, генерируемые приложением
/user_data/
/chrome_profile/
/audio_files/

# Никогда не загружайте локальный кэш с моделями
# (Он будет создаваться внутри Docker-образа при сборке)
/.cache/

# Исключаем локальные переменные окружения
.env

# Исключаем сам Dockerfile ignore, если он есть
.dockerignore
#тест