# Web Framework
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
websockets==12.0
pydantic==2.5.2

# Onnx
# onnx-asr[gpu,hub]
onnx-asr==0.7.0
onnxruntime-gpu==1.23.2


# Аудио обработка
webrtcvad==2.0.10
pydub==0.25.1
soundfile==0.12.1
librosa
numpy==1.26.4

# Машинное обучение
scikit-learn==1.6.1
transformers
huggingface_hub

# Браузер автоматизация (закрепленные версии для стабильности)
selenium==4.27.1
undetected-chromedriver==3.5.5

# Аудио (дополнительно для meet_listener)
sounddevice==0.4.6
scipy==1.11.3
Pillow==10.1.0
pyaudio==0.2.14
silero-vad==5.1.2 # ---Добавил---

# Утилиты
requests==2.31.0
python-dotenv==1.0.0
packaging
Cython
simpleaudio
openai>=1.99.6