# Основные фреймворки
fastapi
uvicorn[standard]
python-multipart
websockets
runpod

# ML и аудио
# torch, torchaudio, torchvision УСТАНОВЛЕНЫ В БАЗОВОМ ОБРАЗЕ, НЕ ДОБАВЛЯТЬ!
nemo_toolkit[all]>=1.22.0
silero
webrtcvad
pydub
soundfile
librosa
numpy==1.26.4 # Хорошая практика - закрепить версию

# Прочее
selenium
scikit-learn
requests
python-dotenv # Для загрузки .env файла